<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>Controller.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>Controller.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>Controller.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list> 
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>Controller.DetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
</web-app>
